<a href="https://colab.research.google.com/github/roberthsu2003/__2025_09_12_ansen__/blob/main/lesson5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#明確知道執行的次數

for word in "Hello! World!":
  print(word)

H
e
l
l
o
!

W
o
r
l
d
!

In [3]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
total = 0
for i in range(1,11):
  total += i

print(total)

55